@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Questrial&family=Sarabun:wght@200&display=swap');
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background: #14b378;
}

::-webkit-scrollbar-thumb:hover {
    background: white;
}

body{
    margin: 0;
    width: 100%;
    background-color: white;
    font-family: 'DM Sans', sans-serif;
    
}
header{
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    width: 20vw;
    height: 100%;
    z-index: 100;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: white;
}
.top{
    background-color: #2c47cc;
    width: 100vw;
    height: 0.5vw;
    position: fixed;
    right: 0;
    z-index: 101;
}
.right{
    background-color: #14b378;
    width: 0.5vw;
    height: 15vw;
    position: fixed;
    top: 30vw;
    right: 0;
    z-index: 100;
}
.bottom{
    background-color: #2c47cc;
    width: 17vw;
    height: 0.5vw;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}
.navbar {
    display: inline-block;
    width: 100%;
    height: 8vw;
    z-index: 100;
    background-color: white;
    align-items: center;
}
.logo{
    padding: 2vw 2.5vw;
}

.logo img{
    width: 12vw;
}

.nav-list{
    text-align: left;
    font-size: 1.2rem;
    font-family: 'DM Sans', sans-serif;
    width: 100%; 
    margin-top: 2vw;
    padding-left: 4vw;
}
.nav-list a{
    text-decoration: none;
    opacity: 50%;
    color: #2c47cc;
}
.nav-list a:hover{
    opacity: 100%;
    color: #14b378;
}
.nav-list a.is-active{
    opacity: 100%;
    color: #e61f26;
}
.nav-list div{
    padding-bottom: 1vw;
}
.social{
    display: inline-flex;
    bottom: 4vw;
    position: absolute;
    
}
.social i{
    opacity: 0.5;
}
.social i:hover{
    opacity: 1;
    color: #f4e96d;
}
i{
    font-size:2vw !important;
    color: #2c47cc;
    cursor: pointer;
    padding-right: 1.2vw;

}
.credit{
    opacity: 50%;
    color: #2c47cc;
    font-size: 0.7vw;
    bottom: 2vw;
    left: 3vw;
    position: absolute;
}
.content{
    width: 100%;
    /* max-width: 1280; */
    padding: 3vw 3vw 0 20vw;
    margin: auto;
    box-sizing: border-box;
}
.col-1 {
    padding-bottom: 1vw;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
}

.col-2 {
    padding-bottom: 1vw;
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 20px;
}

.col-3{
    padding-bottom: 1vw;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 20px;
}

.col-4 {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-gap: 30px;
}

.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }

.col-21 {
    padding-bottom: 1vw;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'b a'
        'c a'
    ;
}
.d { grid-area: d; }
.e { grid-area: e; }
.f { grid-area: f; }
.col-13 {
    display: grid;
    padding-bottom: 1vw;
    grid-gap: 20px;
    /* grid-template-columns: auto;
    grid-template-rows: auto auto auto auto; */
    grid-template-areas:
        'd e e e'
        'f f f f'
    ;
}


.image:hover{
      transition: .5s;
}

.image{
      width: 100%;
      position: relative;
}

.detail {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #e6baa2;
      /* cursor: pointer; */
}
.detailgreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #14b378;
}
.detailblue {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0986c8;
}

.detailpink {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #dd82b7;
}

.detailorange {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f17f65;
}

.detailsky {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #71c8c1;
}
.detailyellow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #dfc449;
}
.image:hover .detail {
      opacity: 1;
}
.image:hover .detailgreen {
    opacity: 1;
}
.image:hover .detailpink {
    opacity: 1;
}
.image:hover .detailblue {
    opacity: 1;
}
.image:hover .detailorange {
    opacity: 1;
}
.image:hover .detailsky {
    opacity: 1;
}
.image:hover .detailyellow {
    opacity: 1;
}

.fullwidth{
    width:100%;
}
.text{
    color: white;
    font-size: 1.4rem;
    font-family: 'Questrial', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
a{
    text-decoration: none;
}
.text a{
    color: white;
}
.text i{
    color: white !important;
    opacity: 1;
}
a:hover{
    color: #f4e96d;
}

.info{
    font-size: 1rem;
    color: #272727;
    text-align: left;
    padding: 2vw 5vw;
    font-family: 'Sarabun', sans-serif;
}
.info h2{
    color: black;
    text-align: center;
    text-decoration:underline #2c47cc;
    text-decoration-thickness: 0.5vw;
}

button {
    background-color: white;
    border: none;
    cursor: pointer;
}

  
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(250, 247, 242, 0.95);
    padding-top: 100px;
    
}

  .modal-content {
    /* background-color: #fefefe; */
    margin: auto 17vw;
    width: 65vw;
    transition: .5s ease;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 50px;
    font-weight: bold;
    color: #272727;
  }
  
  .close:hover,
  .close:focus {
    color: #e61f26;
    cursor: pointer;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

#poin{
    cursor: pointer;
}

.col-1 p{
    opacity: 0.7;
    text-align: center;
}

.about{
    text-align: center;
}
.col-2 .left{
    text-align: left;
    /* padding-left: 20vw; */
}
.col-2 .rights{
    text-align: left;
    float: right;
    /* padding-right: 5vw; */
}

.button {
    background-color: #0986c8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  .respon{
    display: none;
}
  @media screen and (max-width: 1024px) and (min-width: 200px) {
    body {
        margin: 0;
        position: fixed; /* Stay in place */
        z-index: 1000; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: hidden; /* Enable scroll if needed */
        background-color: rgba(250, 247, 242, 1);
        display: flex;  
    }
    header{
        display: none;
    }
    .content{
        display: none;
    }
    .respon{
        display: block;
        z-index: 5000;
        position: fixed;
        text-align: center;
        /* left: 50%;
        top: 50%; */
        top: 50%;  
        left: 50%;  
        transform: translate(-50%, -50%);  
    }
  }